<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weibiaogan.litong">

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${GAODE_AMAPKEY}" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="login_action" />

                <category android:name="login_category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.RegisterActivity" />
        <activity android:name=".ui.login.ForgetPWActivity" />
        <activity android:name=".ui.mine.MyIntroActivity" />
        <activity android:name=".ui.location.GeoToScreenActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.login.ChangePWActivity" />
        <activity android:name=".ui.pay.ChangePayPwActivity" />
        <activity android:name=".ui.modify.ModifyBindActivity" />





        <!--<activity android:name="com.weibiaogan.litong.ui.home.RegistractionActivity" />-->

        <!--<activity android:name="com.weibiaogan.litong.ui.pay.ChangePayPwActivity" />-->
        <activity android:name=".ui.mine.ChangeNicknameActivity" />
        <activity android:name=".ui.pay.WalletActivity"/>
        <activity android:name=".ui.pay.CommissionActivity"/>
        <activity android:name=".ui.pay.CommissionSuccessfulActivity"/>

        <!--项目搜索-->
        <activity android:name=".ui.search.SearchProjectActivity"/>
        <!--店铺-->
        <activity android:name=".ui.store.StoreDetailActivity"/>
        <activity android:name=".ui.store.StoreListActivity"/>
        <!--工人-->
        <activity android:name=".ui.work.WorkDetailActivity"/>
        <activity android:name=".ui.work.WorkEvaluateActivity"/>
        <activity android:name=".ui.work.WorkListActivity"/>
        <!--我的接单-->
        <activity android:name=".ui.receipt.MyReceiptActivity"/>
        <activity android:name=".ui.receipt.EvaluateDemandActivity"/>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.weibiaogan.litong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.project.PayCenterActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.orders.OrdersDetailActivity" />
        <activity android:name=".ui.mine.SureWorkerActivity" />
        <activity android:name=".ui.mine.MyPublishProjectActivity" />
        <activity android:name=".ui.mine.BosIdentyActivity" />
        <activity android:name=".ui.mine.ShopAddActivity" />
        <activity android:name=".ui.mine.WorkerIDentyOneActivity" />
        <activity android:name=".ui.mine.WorkerIDentyTwoActivity"></activity>
    </application>

</manifest>